<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">AboutMe</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ site.baseurl }}/categories/ML.html">ML</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ site.baseurl }}/categories/DL.html">DL</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ site.baseurl }}/categories/CV.html">CV</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ site.baseurl }}/categories/NLP.html">NLP</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ site.baseurl }}/categories/PaperReview.html">PaperReview</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ site.baseurl }}/tags.html">tags</a>
</li>